ORDER SUMMARY :

    ITEM                         QUANTITY       UNIT       UNIT         SUBTOTAL
                                              PRICE (£)  DISCOUNT (£)
------------------------------------------------------------------------------------
<% order.lines.each_with_index do |line, index|
    it = line.item
    c_qu  = "%3d      "      % line.quantity
    c_de  = "%-30s"          % it.description
    c_gup = "%10.2f £" %  (line.gross_unit_price_in_cents / 100.0)
    c_di  = "%10.2f £" % -(line.unit_discount_in_cents    / 100.0)
    c_su  = "%10.2f £" %  (line.total_in_cents            / 100.0)
%>    <%=  c_de %><%= c_qu %><%= c_gup%><%= c_di %>  <%= c_su %>
<% end %>
------------------------------------------------------------------------------------
subtotal :                                                           <%= "%10.2f £" % (order.subtotal_in_cents     / 100.0)%>
discount :                                                           <%= "%10.2f £" % -(@subtotal_discount_in_cents / 100.0)%>
------------------------------------------------------------------------------------
TOTAL    :                                                           <%= "%10.2f £" % (order.total_in_cents        / 100.0)%>
------------------------------------------------------------------------------------
